@mixin filter($type,$amount) {
  -webkit-filter: $type+unquote('(#{$amount})');
  -moz-filter: $type+unquote('(#{$amount})');
  -ms-filter: $type+unquote('(#{$amount})');
  -o-filter: $type+unquote('(#{$amount})');
  filter: $type+unquote('(#{$amount})');
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($property: all, $duration: .2s) {
  -webkit-transition: $property $duration ease;
  -moz-transition: $property $duration ease;
  -o-transition: $property $duration ease;
  -ms-transition: $property $duration ease;
  transition: $property $duration ease;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

body {
  background: url(../img/background.jpg) no-repeat;
}

ul {
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right {
  float: right;
}

.inline-block {
  display: inline-block;
}

input[type="checkbox"] {
  display: none;

  + label {
    width: 20px;
    display: inline-block;
    cursor: pointer;
  }
}

#notification {
  width: 280px;
  height: 100vh;
  overflow: scroll;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 100;

  .notification-head {
    margin: 50px 0 40px 0;
    color: darken(white, 30%);

    span:first-child {
      font-size: 22px;
    }

    span:last-child {
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }

  .notification-body {
    color: darken(white, 20%);
    font-size: 14px;
  }
}

#notification-background {
  width: 320px;
  height: 100vh;
  background: inherit;
  overflow: hidden;
  position: absolute;
  z-index: 10;

  @include filter(blur, 10px);
}

.department {
  margin: 0 0 22px 0;

  &.checked {
    color: white;
  }

  .department-head {
    position: relative;
    line-height: 20px;
    font-size: 17px;

    &:hover {
      color: white;
    }

    .department-toggle {
      vertical-align: middle;
      line-height: 20px;
      cursor: pointer;
      font-size: 20px;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;

      span {
        display: inline-block;
        max-width: 160px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      i {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  .department-body {
    @include transition();

    &.collapsed {
      height: 0;
      overflow: hidden;
    }

    ul {
      margin-left: 20px;

      li {
        margin: 10px 0;
      }
    }
  }
}

.position {
  //cursor: pointer;

  &.checked {
    color: white;
  }

  &:hover {
    color: white;
  }

  span {
    max-width: 160px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.count {
  font-size: 16px;
  float: right;
  display: inline-block;
  padding: 0 10px;

  &.padded {
    //padding: 2px 10px;
    background: rgba(0, 0, 0, 0.4);
    @include border-radius(10px);
  }
}